html
head
	title Person
	body
		form(action = "", method = "POST")
			input(type = "text", name = "name")
			input(type = "text", name = "age") 
			input(type = "text", name = "nationality") 
			input(type = "submit", value = "Submit")