html
	head
		meta(name = "author", content = "Charles Elliott Leback")
		meta(name = "description", content = "Home page for prototype site")
		meta(name = "keywords", content = "")
		title Home
		link(rel = "stylesheet", type = "text/css", href = "/css/prototype_stylesheet.css")
	body(id = "home_body")
		div
			header(class = "top_menu")
				table(id = "nav_table")
					tr
						td
							a(href = "/about", target = "_top") About
						td
							a(href = "/services", target = "_top") Services
						td
							a(href = "/contact", target = "_top") Contact